<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: header('Formulario Horarios')}"></head>

<body>
    <div class="wrapper">
        <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
        <div class="main">
            <nav th:insert="~{fragments/nav :: nav}"></nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row justify-content-center">
                            <div class="col-7 col-md-6">
                                <div
                                    class="d-flex flex-column flex-md-row justify-content-between align-items-center p-4 mb-3 border bg-light rounded">
                                    <div class="d-flex gap-2 ms-md-auto">
                                        <a href="/horarios" class="btn btn-secondary">Volver</a>
                                    </div>
                                </div>
                                
                                <form th:action="@{/horarios}" th:object="${horario}" method="post" class="border p-4 rounded shadow-sm">
                                    <input type="hidden" th:field="*{idHorario}"/>
            
                                    <div class="mb-3">
                                        <label for="nombreHorario" class="form-label">Horario</label>
                                        <input type="text" class="form-control" id="nombreHorario" th:field="*{nombreHorario}" placeholder="Horario" required />
                                    </div>
            
                                    <div class="mb-3">
                                        <label for="turno" class="form-label">Turno</label>
                                        <input type="text" class="form-control" id="turno" th:field="*{turno}" placeholder="Turno" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="condicion" class="form-label">Condicion</label>
                                        <input type="text" class="form-control" id="condicion" th:field="*{condicion}" placeholder="Condición" required />
                                    </div>
            
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer th:insert="~{fragments/footer :: footer}"></footer>
        </div>
    </div>
    <div th:insert="~{fragments/script :: script}"></div>
</body>

</html>