<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: header('Empresas')}"></head>

<body>
  <div class="wrapper">
    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
    <div class="main">
      <nav th:insert="~{fragments/nav :: nav}"></nav>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-11">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-4 mb-3 border bg-light rounded">
                  <h4 class="fw-bold fs-4 mb-3 mb-md-0 text-center">Razon social</h4>
                  <div class="d-flex gap-2 ms-md-auto">
                    <a href="/empresas/nuevo" class="btn btn-primary">
                      <i class="bi bi-plus-circle me-2"></i>Agregar
                    </a>
                    <a th:href="@{/empresas/exportar-excel(keyword=${search})}" class="btn btn-success">
                      <i class="bi bi-file-earmark-spreadsheet me-2"></i>Exportar
                    </a>
                  </div>
                </div>
                
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-4 mb-3 border bg-light rounded">
                  <div class="col-12 col-md-8">
                    <form th:action="@{/empresas}" method="get">
                      <div class="input-group">
                        <input type="text" name="search" th:value="${search}" class="form-control"
                          placeholder="Buscar empresa" aria-label="Buscar">
                        <button class="btn btn-secondary" type="submit">
                          <i class="bi bi-search"></i> Buscar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div th:if="${empresaPage.totalElements == 0}" class="alert alert-info mt-3">
                  No se encontraron empresas con el nombre "<span th:text="${search}"></span>".
                </div>
                
                <div th:if="${empresaPage.totalElements > 0}">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="highlight">
                          <th scope="col">Id</th>
                          <th scope="col">Empresa</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="empresa : ${empresaPage.content}">
                          <td th:text="${empresa.idEmpresa}"></td>
                          <td th:text="${empresa.nombreEmpresa}"></td>
                          <td>
                            <a th:href="@{/empresas/editar/{id}(id=${empresa.idEmpresa})}" class="btn btn-warning">
                              <i class="bi bi-pencil-square"></i>
                            </a>
                            <a th:href="@{/empresas/eliminar/{id}(id=${empresa.idEmpresa})}" class="btn btn-danger"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar esta empresa?');">
                              <i class="bi bi-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Paginación -->
                  <nav aria-label="Page navigation example" class="mt-3">
                    <ul class="pagination justify-content-end">
                      <!-- Botón de página anterior -->
                      <li class="page-item" th:classappend="${empresaPage.hasPrevious()} ? '' : 'disabled'">
                        <a class="page-link" th:href="@{/empresas(page=${empresaPage.number - 1})}">Anterior</a>
                      </li>
                      <!-- Páginas intermedias -->
                      <li class="page-item" th:each="i : ${#numbers.sequence(0, empresaPage.totalPages - 1)}"
                        th:classappend="${i == empresaPage.number} ? 'active' : ''">
                        <a class="page-link" th:href="@{/empresas(page=${i})}" th:text="${i + 1}"></a>
                      </li>
                      <!-- Botón de página siguiente -->
                      <li class="page-item" th:classappend="${empresaPage.hasNext()} ? '' : 'disabled'">
                        <a class="page-link" th:href="@{/empresas(page=${empresaPage.number + 1})}">Siguiente</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer th:insert="~{fragments/footer :: footer}"></footer>
    </div>
  </div>
  <div th:insert="~{fragments/script :: script}"></div>
</body>

</html>