<aside th:fragment="sidebar" id="sidebar" class=""> <!--Agregar clase expand para que inice con el sidebar expandido-->
    <div class="d-flex sidebar-tittle">
        <button id="toggle-btn" type="button">
            <img th:src="@{/images/Logo.png}" width="35" height="38">
        </button>
        <div class="sidebar-logo text-center">
            <img th:src="@{/images/Nombre.png}" width="175" height="55">
            <!-- <img src="/src/main/resources/static/images/CustomerPriority.png" width="185" height="70"> -->
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#mant" 
                aria-expanded="false" aria-controls="mant">
                <i class="bi bi-gear"></i>
                <span>Administrador</span>
            </a>
            <ul id="mant" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/campanas" class="sidebar-link">Campañas</a>
                </li>
                <li class="sidebar-item">
                    <a href="/segmentos" class="sidebar-link">Segmentos</a>
                </li>
                <li class="sidebar-item">
                    <a href="/cargos" class="sidebar-link">Cargos</a>
                </li>
                <li class="sidebar-item">
                    <a href="/horarios" class="sidebar-link">Horarios</a>
                </li>
                <li class="sidebar-item">
                    <a href="/roles" class="sidebar-link">Roles</a>
                </li>
                <li class="sidebar-item">
                    <a href="/trabajadores" class="sidebar-link">Nómina</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Usuarios</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-list-task"></i>
                <span>Task</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth" 
                aria-expanded="false" aria-controls="auth">
                <i class="bi bi-shield-check"></i>
                <span>Auth</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Register</a>
                </li>
            </ul>
        </li>
        
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-bell"></i>
                <span>Notification</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-database-fill-gear"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">

    </div>
</aside>