<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Campañas</title>
    <div th:insert="~{fragments/header :: header}"></div>
</head>
<body>
    <div class="main">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                <form id="contactForm">
                    <div class="mb-3">
                        <label class="form-label" for="id">Id</label>
                        <input class="form-control" id="id" type="text" placeholder="Id" data-sb-validations="" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="segmento">Segmento</label>
                        <input class="form-control" id="segmento" type="text" placeholder="Segmento" data-sb-validations="" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="campana">Campaña</label>
                        <input class="form-control" id="campana" type="text" placeholder="Campaña" data-sb-validations="" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="tipoDeGestion">Tipo de gestión</label>
                        <select class="form-select" id="tipoDeGestion" aria-label="Tipo de gestión">
                            <option value="Inbound">Inbound</option>
                            <option value="Outbound">Outbound</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="estado">Estado</label>
                        <select class="form-select" id="estado" aria-label="Estado">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <p>To activate this form, sign up at</p>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/script :: script}"></div>
</body>
</html>