<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: header('Formulario Segmentos')}"></head>

<body>
    <div class="wrapper">
        <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
        <div class="main">
            <nav th:insert="~{fragments/nav :: nav}"></nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row justify-content-center">
                            <div class="col-7 col-md-6">
                                <div
                                    class="d-flex flex-column flex-md-row justify-content-between align-items-center p-4 mb-3 border bg-light rounded">
                                    <div class="d-flex gap-2 ms-md-auto">
                                        <a href="/segmentos" class="btn btn-secondary">Volver</a>
                                    </div>
                                </div>
                                
                                <form th:action="@{/segmentos}" th:object="${segmento}" method="post" class="border p-4 rounded shadow-sm">
                                    <input type="hidden" th:field="*{idSegmento}"/>
            
                                    <div class="mb-3">
                                        <label for="nombreSegmento" class="form-label">Segmento</label>
                                        <input type="text" class="form-control" id="nombreSegmento" th:field="*{nombreSegmento}" placeholder="Segmento" required />
                                    </div>
            
                                    <div class="mb-3">
                                        <label for="campana" class="form-label">Campaña</label>
                                        <select th:field="*{campana}" class="form-select" required>
                                            <option th:each="campana : ${campanas}" th:value="${campana.idCampana}" th:text="${campana.nombreCampana}"></option>
                                        </select>
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="tipoGestion" class="form-label">Tipo de gestión</label>
                                        <select th:field="*{tipoGestion}" class="form-select" required>
                                            <option th:each="tipoGestion : ${tipoGestion}" th:value="${tipoGestion.idGestion}" th:text="${tipoGestion.nombreGestion}"></option>
                                        </select>
                                    </div>
            
                                    <div class="mb-3">
                                        <label for="estado" class="form-label">Estado</label>
                                        <select class="form-select" id="estado" th:field="*{estado}" aria-label="Estado">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                    </div>
            
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary btn-md">Guardar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer th:insert="~{fragments/footer :: footer}"></footer>
        </div>
    </div>
    <div th:insert="~{fragments/script :: script}"></div>
</body>

</html>