<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="~{fragments/header :: header('Formulario Campaña')}"></head>
<body>
    <div class="wrapper">
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="mb-3">
                            <a href="/campanas" class="btn btn-secondary">Volver</a>
                        </div>
                        <form th:action="@{/campanas}" th:object="${campana}" method="post" class="border p-4 rounded shadow-sm">
                            <input type="hidden" th:field="*{idCampana}"/>
    
                            <div class="mb-3">
                                <label for="segmento" class="form-label">Segmento</label>
                                <input type="text" class="form-control" id="segmento" th:field="*{segmento}" placeholder="Segmento" required />
                            </div>
    
                            <div class="mb-3">
                                <label for="nombreCampana" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombreCampana" th:field="*{nombreCampana}" placeholder="Nombre de la Campaña" required />
                            </div>
    
                            <div class="mb-3">
                                <label for="gestion" class="form-label">Gestión</label>
                                <select class="form-select" id="gestion" th:field="*{gestion}" aria-label="Tipo de gestión">
                                    <option value="Inbound">Inbound</option>
                                    <option value="Outbound">Outbound</option>
                                </select>
                            </div>
    
                            <div class="mb-3">
                                <label for="estado" class="form-label">Estado</label>
                                <select class="form-select" id="estado" th:field="*{estado}" aria-label="Estado">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
    
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:insert="~{fragments/footer :: footer}"></footer>
    <div th:insert="~{fragments/script :: script}"></div>
</body>
</html>