<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: header('Campañas')}"></head>
  <body>
    <div class="wrapper">
      <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
      <div class="main">
        <nav th:insert="~{fragments/nav :: nav}"></nav>
        <main class="content px-3 py-4">
          <div class="container-fluid">
            <div class="mb-3">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-11">
                  <h4 class="fw-bold fs-4 mb-3">Listado de campañas</h4>

                  <a href="/campanas/nuevo" class="btn btn-primary mb-3">
                    <i class="bi bi-plus-square me-2"></i>Agregar campaña
                  </a>

                  <table class="table table-stripped">
                    <thead>
                      <tr class="highlight">
                        <th scope="col">Id</th>
                        <th scope="col">Segmento</th>
                        <th scope="col">Campaña</th>
                        <th scope="col">Tipo de gestion</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="campana : ${campanaPage.content}">
                        <td th:text="${campana.idCampana}"></td>
                        <td th:text="${campana.segmento}"></td>
                        <td th:text="${campana.nombreCampana}"></td>
                        <td th:text="${campana.gestion}"></td>
                        <td th:text="${campana.estado}"></td>
                        <td>
                          <a
                            th:href="@{/campanas/editar/{id}(id=${campana.idCampana})}"
                            class="btn btn-warning"
                          >
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          <a
                            th:href="@{/campanas/eliminar/{id}(id=${campana.idCampana})}"
                            class="btn btn-danger"
                          >
                            <i class="bi bi-trash"></i>
                          </a>
                          <!--  <a th:href="@{/campana/editar/{id}(id=${campana.id})}">Editar</a>
                                        <a th:href="@{/campana/eliminar/{id}(id=${campana.id})}">Eliminar</a> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--Paginacion-->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <!-- Botón de página anterior -->
                      <li
                        class="page-item"
                        th:classappend="${campanaPage.hasPrevious()} ? '' : 'disabled'"
                      >
                        <a
                          class="page-link"
                          th:href="@{/campanas(page=${campanaPage.number - 1})}"
                          >Anterior</a
                        >
                      </li>
                      <!-- Páginas intermedias -->
                      <li
                        class="page-item"
                        th:each="i : ${#numbers.sequence(0, campanaPage.totalPages - 1)}"
                        th:classappend="${i == campanaPage.number} ? 'active' : ''"
                      >
                        <a
                          class="page-link"
                          th:href="@{/campanas(page=${i})}"
                          th:text="${i + 1}"
                        ></a>
                      </li>
                      <!-- Botón de página siguiente -->
                      <li
                        class="page-item"
                        th:classappend="${campanaPage.hasNext()} ? '' : 'disabled'"
                      >
                        <a
                          class="page-link"
                          th:href="@{/campanas(page=${campanaPage.number + 1})}"
                          >Siguiente</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer th:insert="~{fragments/footer :: footer}"></footer>
      </div>
    </div>
    <div th:insert="~{fragments/script :: script}"></div>
  </body>
</html>